$splitcolor: #bdc0c1;

html body{
  //background-color: #00b3ee;
}

.myhead {
  text-align: center;
}

.imgbox {
  padding-top: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 1px;
}

.imgli {
  list-style-type: none;
  position: relative;
  display: inline-block; // text under in picture
  margin-left: 5px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  width:90px;
  height:90px;
  .imgfile {
    position: relative;
    text-align:center;
    vertical-align:middle;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 10px;
    width: 43px;
  }
  .imgtext {
    margin-top: 10px;
    text-align: center;
    margin-bottom: -2px;
    line-height:15px;
    width:90px;
    text-overflow:ellipsis;
    overflow:hidden;
  }
}

.imgli:hover {
  border-color: lighten($splitcolor, 10%);
  cursor:pointer;
}

.clickimg {
  border-color: darken($splitcolor, 10%);
  background-color: #9acfea;
}

button{
  background-color: #00b3ee;
}